*{
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial, sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
}
.top{
display: flex;
    width: 100%;
    min-height: 60vh;
    background-image:url(https://static.toiimg.com/photo/85062718.cms);<!--NC-->
    background-size: cover;
    background-position: center;
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.295);
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10hv;
    color: white;
    bottom: 5%;
}
.text h1{
    font-weight: 600;
    font-size: 4vw;
}
.rtext{
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: space-between;
}
.rtext p{
    font-size: 18px;
}
.bottom{
    display: flex;
    width: 100%;
    color: white;
    min-height: 40vh;
}
.b1{
    width: 30%;
    min-height: inherit;
    background-image: url(https://akm-img-a-in.tosshub.com/indiatoday/images/story/202407/manu-bhaker-sarabjot-singh-302635472-16x9_1.jpg?VersionId=M8GqRpx5PxT4bLQj8XTrn7vIYZgvPHuL&size=690:388);
    background-size: cover;
    background-position: center;
}
.b1 .h1{
    text-align: center;
    padding: 15px;
    color: white;
}
.b2{
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}
.b2 .up{
    width: 100%;
    min-height: 20vh;
    background-image: url(https://akm-img-a-in.tosshub.com/indiatoday/images/story/202408/swapnil-singh-015627537-16x9_0.jpg?VersionId=65cZo9RAyjHk9uPTBiyjQn4yJLUE3a.s&size=690:388);
    background-size: cover;
    background-position: center;
}
.b2 .up .h1{
    text-align: center;
    padding: 30px;
}
.b2 .up .p{
    color: white;
    text-align: center;
    padding: 15px;
}
.b2 .down{
display: flex;
    
  
    min-height: 30vh;
    background-image: url(https://www.insidesport.in/wp-content/uploads/2023/08/WhatsApp-Image-2023-08-25-at-3.40.33-PM.jpeg);
    background-size: cover;
    background-position: center;
}
.b2 .down .overlay{
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(255, 255, 255, 0.344);
}
.b3{
    width: 40%;
    min-height: inherit;
    background-image: url(https://d16f573ilcot6q.cloudfront.net/wp-content/uploads/2024/04/Aman-Sehrawat.jpg);
    background-size: cover;
    background-position: center;
}
.b3 .overlay{
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
   padding: 4vw 3vh;
}
.b3 .overlay .p{
    padding: 1.2vh;
}

@media(max-width:700px){
    .rtext{
        flex-direction: column;
    }
    .b3 .overlay{
        width: 100%;
        margin-left: initial;
    }
    
}

@media(max-width:500px){
    .text{
        flex-direction: column;
        align-items: flex-start;
    }
    .text .h1{
        font-size: 5vh;
    }
    .text .image{
        height: 200px;
        width: 140px;
        margin-top: 20px;
    }
    .rtext{
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext p{
        margin-top: 10px;
    }
    .icons{
        margin-top: 10px;
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .b1{
        width: 100%;
        min-height: 30vh;
    }
    .b2{
        width: 100%;
    }
    .b2 .up{
        min-height: 30vh;
    }
    .b3{
        width: 100%;
        min-height: 30vh;
        background-position: left;
    }
}
